.priority-high {
	border-right: 12px solid rgb(245,162,162);
	background: rgba(245,162,162,.3);
}
.priority-middle {
	border-right: 12px solid rgb(255,216,216);
	background: rgba(255,216,216,.3);
}
.priority-low {
	border-right: 12px solid rgb(255,252,221);
	background: rgba(255,252,221,.3);
}

.select-priority {
	display: none;
	position: absolute;
	top: 50%;
	right: 45px;
	margin-top: -.8em;
}
#todo-list li:hover .select-priority {
	display: inline-block;
}